<header>
      <nav></nav>
      <section class="one"></section>
      <section class="two">
        <div>
          <div>The Gift Guide</div>
        </div>
        <img src="Frame.png" alt="" />
      </section>
      <div class="headerEnd">
        SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXS TO 6XL
      </div>
    </header>

    <section class="products">
      <div class="title">Tisso vison in the wild</div>
      <div class="productsGrid">
        <div class="eins">+</div>
        <img src="https://cdn.shopify.com/s/files/1/0873/7842/8199/files/putting-on-your-shoes_925x_f4184c9e-c505-498c-8c43-6c1e9545a859.jpg?v=1715108788" alt="">
        <div class="zwei">+</div>
        <img src="https://cdn.shopify.com/s/files/1/0873/7842/8199/files/woman-in-the-city_925x_fa6b306e-cdb3-4593-94a7-91ba71d3e059.jpg?v=1715108785" alt="">
        <div class="drei">+</div>
        <img src="https://cdn.shopify.com/s/files/1/0873/7842/8199/files/womens-red-t-shirt_925x_5cbc9e3a-3e59-4707-aa55-d1483ba0349a.jpg?v=1715108782" alt="">
        <div class="vier">+</div>
        <img src="https://cdn.shopify.com/s/files/1/0873/7842/8199/files/putting-on-your-shoes_925x_f4184c9e-c505-498c-8c43-6c1e9545a859.jpg?v=1715108788" alt="">
        <div class="funf">+</div>
        <img src="https://cdn.shopify.com/s/files/1/0873/7842/8199/files/putting-on-your-shoes_925x_f4184c9e-c505-498c-8c43-6c1e9545a859.jpg?v=1715108788" alt="">
        <div class="sechs">+</div>
        <img src="https://cdn.shopify.com/s/files/1/0873/7842/8199/files/putting-on-your-shoes_925x_f4184c9e-c505-498c-8c43-6c1e9545a859.jpg?v=1715108788" alt="">

      </div>
    </section>




{{ 'custom-landing.css' | asset_url | stylesheet_tag }}
<script src="{{ 'custom-landing.js' | asset_url }}"></script>
